*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-blanco: white;
    --celeste: #6bb8f0;
    --azul-oscuro: #1b447c;
    --azul-claro: #003067;
    --amarillo: #ffd900;
    --gris: rgb(241, 241, 241)

}

body{
    background-color: var(--azul-oscuro);
    background-size: cover;
    background-image: url(../img/PAtron_pinga.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img{
    margin:auto;
    width: 25vw;
}


h1{
    border-radius: 0.5rem;
    text-align: center;
    width: 50vw;
    margin: 30px auto;
    padding: 3px;
    background-color: var(--celeste);
    
}

.container{
    width: 50vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    gap: 30px;
    place-items: center center;
    background-color: var(--celeste);
    border-radius: 0.5rem;
}

label{
    border: 2px solid var(--azul-oscuro);
    border-radius: 0.5rem;
    font-size: 20px;
    width: 300px;
    text-align: center;
    padding: 5px 10px;

}

input{
    background-color: var(--gris);
    color: var(--azul-oscuro);
    font-size: 20px;
    width: 150px;
    padding: 5px 10px;
    text-align: start;
    border: 2px solid var(--azul-oscuro);
    border-radius: 0.5rem;
}



button.btn{
    grid-column: span 2;
    border: 2px solid var(--amarillo);
    background-color: var(--amarillo);
    border-radius: 0.5rem;
    font-size: 20px;
    width: 300px;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: transform 0.3s ease;

    

}

button.btn:hover{
    transform: scale(1.2);

}

h2{
    background-color: var(--azul-oscuro);
    color: white;
    border: 2px solid var(--azul-oscuro);
    border-radius: 0.5rem;
    width: 300px;
    padding: 5px 10px;
    text-align: center;
}

div{
    background-color: var(--amarillo);
    color: var(--azul-oscuro);
    font-size: 20px;
    width: 150px;
    padding: 5px 10px;
    text-align: start;
    border: 2px solid var(--amarillo);
    border-radius: 0.5rem;
    text-align: end;

}